
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">

  <h1>Hello Foodie, Here Are Your Posts!</h1>
  <P> You are signed in as <%=current_user.user_name%>, You can See, Edit or Delete Your Posts</p>

<p><%= link_to 'Delete', cancel_user_registration, class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></p>

   <% @posts.each do |post| %>
   <%= render 'posts/post', post: post %>
   <% end %>
</div>
