<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Make changes Below!</h1>

<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= link_to "FEED", posts_path, class: "btn-xs btn btn-info" %>
      <%= link_to "Delete Post", post_path(@post), class: "btn-xs btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="log-in panel">
      <div class="panel-heading">
      <h4>Upload an image:</h4>
      <%= f.input :image, label: false %><br>
      <%= f.input :caption, label: false, input_html: { class: 'form-control' } %><br>
      <%= f.button :submit, class: "btn btn-success"  %>
    <% end %>
  </div>
</div>
</div>
