<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


  <div class="container">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Search All Posts</h2>
          </div>
            <div class="panel-body">
              <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Posts",class: "form-control" %><br>
              <%= submit_tag "Search", class: 'btn-lg btn-success btn-block'%>
              <% end %>
            </div>
        </div>
      </div>
  </div>
