<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="posts-wrapper row">
    <div class="post">
      <div class="post-head">
        <div class="user-name">
          <% if @post.user.id == current_user.id %>
          <%= link_to "FEED", posts_path, class: "btn-xs btn btn-info" %>
          <%= link_to "Edit Post", edit_post_path(@post), class: "btn-xs btn btn-warning" %>
          <% else %>
          <%= link_to "FEED", posts_path %>
          <% end %>
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag @post.image.url(:medium) %>
      </div>
      <div class="post-bottom">
        <% if @post.comments %>
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <div class="user-name">
                <%= comment.user.user_name %>
              </div>
              <div class="comment-content">
                <%= comment.content %>
              </div>
              <% if comment.user == current_user %>
                <%= link_to "Delete Comment", post_comment_path(@post, comment),class: "btn-xs btn btn-warning", method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="comment-form">
          <%= form_for [@post, @post.comments.new] do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...' %>
            <%= f.button :submit, class: "btn-xs btn btn-success"  %>
            <%= link_to "Like", like_post_path(@post), class: "btn-xs btn btn-info", method: :put %>
            <%= @post.votes_for.size %>
            <% end %>
        </div>
      </div>
    </div>
</div>
